.beehive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;

  &__container {
    background-color: rgb(241, 233, 217);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
  }

  &__reset {
    padding: 20px;
    
    &-button {
      padding: 6px 12px;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      border-radius: 3px;

    }
  }
}
